body {
    background-color: whitesmoke;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
  }
  #hazu {
    color: crimson;
  }
 #hazu.active{
   color: chartreuse;
 }
 .hato {
   color: darkmagenta;
   font-size: 44px;
 }
 .hato:hover{
   color: red;
 }
